body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f4f4f9;
  }

  h2 {
    text-align: center;
    color: #333;
  }
  
  div {
    width: 60%;
    padding: 10px;
    background-color: #ffffff;
    border: 1px solid #ddd;
    max-width: 900px;
    margin: 0 auto;
   
  }
  
  label {
    display: block;
    margin-top: 10px;
    font-weight: bold;
    color: #555;
  }
  
  input[type="text"],input[type="date"],select {
    width: 50%;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  .botao {
    width: 10%;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    font-size: 16px;
    cursor: pointer;
    margin-top: 10px;
  }
  
  .botao:hover {
    background-color: #45a049;
  }
  
 
  .resultado {
    margin-top: 20px;
    padding: 10px;
    background-color: #e7f3fe;
    border: 1px solid #b3d4fc;
    border-radius: 4px;
  }
  